.chatInput {
  border-radius: 20px;
}

.chatInput > form {
  position: relative;
  display: flex;
  justify-content: center;
}

.chatInput > form > input {
  position: fixed;
  height: 50px;
  bottom: 5px;
  width: 68%;
  margin: 0 2px;
  border: 1px solid gray;
  border-radius: 5px;
  padding: 5px 2px 20px 2px;
  outline: none;
}

.chatInput > form > button {
  display: none !important;
}
