.chat {
  flex: 0.7;
  flex-grow: 1;
  overflow-y: scroll;
  padding-bottom: 150px;
}

.chat_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem;
  border-bottom: 1px solid lightgray;
}

.chat_header-right > p {
  display: flex;
  align-items: center;
  font-size: 14px;
}

.chat_channel-name {
  display: flex;
  text-transform: lowercase;
}

.chat_channel-name > .MuiSvgIcon-root {
  margin-left: 2px;
  font-size: 18px;
}

.chat_header-right > p > .MuiSvgIcon-root {
  margin-right: 2px;
  font-size: 14px;
}
